body{
	font-family: 'segoe UI', sans-serif;
}

.hero{
   height: 100vh;
   background: linear-gradient(to right, #0f172a, #1e293b);
 }
 
 .navbar-brand{
	 letter-spacing: 1px;
 }
 
 .card{
	 transition: 0.3s;
	 border: none;
	 box-shadow: 0 5px 15px rgba(0,0,0,0.1);
 }
 
 .card:hover{
	 transform: translateY(-10px);
 }
 
 footer{
	 font-size: 14px;
 }
 
 .profile-img{
	 width: 500px;
	 height: 500px;
	 object-fit: cover;
	 border-radius: 50%;
	 border:4px solid white;
 }